.nav{
    background-color: rgb(128, 11, 224);
}
.pare1{
    color: white;
}
.text{
    margin-top: 5px;
    padding: 10px;
    border-style: outset;
  border-width: 1px;
}
.pare2{
    color: white;
    margin-right: auto;
}