.img{
    background-image: url(./jonatan-pie-3l3RwQdHRHg-unsplash.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.pare1{
    color: white;
}
.a{
    color: white;
}